<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {%- if page.url == "/" -%}
    {{ site.title | escape }}
    {%- else -%}
    {{ page.title | escape }} - {{ site.title | escape }}
    {%- endif -%}
  </title>
  {%- seo title=false -%}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@latest/css/all.min.css">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"> -->
  <link rel="stylesheet" href="{{ '/assets/css/tailwind.css' | relative_url }}">
  {%- feed_meta -%}

  {%- include custom-head.html -%}

</head>