@charset "utf-8";

// Import variables and mixins
@import "variables";
@import "mixins";

// Import base styles and layout
@import "base";

// Import GitHub markdown CSS
@import "github-markdown";

@import "layout";

// Syntax highlighting
.highlight {

    // Comment
    .c {
        color: var(--syntax-comment);
        font-style: italic
    }

    // Error
    .err {
        color: #a61717;
        background-color: #e3d2d2
    }

    // Keyword
    .k {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Operator
    .o {
        color: var(--syntax-operator);
        font-weight: bold
    }

    // Comment.Multiline
    .cm {
        color: var(--syntax-comment);
        font-style: italic
    }

    // Comment.Preproc
    .cp {
        color: var(--syntax-comment);
        font-weight: bold
    }

    // Comment.Single
    .c1 {
        color: var(--syntax-comment);
        font-style: italic
    }

    // Comment.Special
    .cs {
        color: var(--syntax-comment);
        font-weight: bold;
        font-style: italic
    }

    // Generic.Deleted
    .gd {
        color: #000;
        background-color: #fdd
    }

    // Generic.Deleted.Specific
    .gd .x {
        color: #000;
        background-color: #faa
    }

    // Generic.Emph
    .ge {
        font-style: italic
    }

    // Generic.Error
    .gr {
        color: #a00
    }

    // Generic.Heading
    .gh {
        color: var(--syntax-comment)
    }

    // Generic.Inserted
    .gi {
        color: #000;
        background-color: #dfd
    }

    // Generic.Inserted.Specific
    .gi .x {
        color: #000;
        background-color: #afa
    }

    // Generic.Output
    .go {
        color: var(--syntax-comment)
    }

    // Generic.Prompt
    .gp {
        color: var(--text-main);
        opacity: 0.7;
    }

    // Generic.Strong
    .gs {
        font-weight: bold
    }

    // Generic.Subheading
    .gu {
        color: var(--syntax-comment)
    }

    // Generic.Traceback
    .gt {
        color: #a00
    }

    // Keyword.Constant
    .kc {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Keyword.Declaration
    .kd {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Keyword.Pseudo
    .kp {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Keyword.Reserved
    .kr {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Keyword.Type
    .kt {
        color: var(--syntax-function);
        font-weight: bold
    }

    // Literal.Number
    .m {
        color: var(--syntax-number)
    }

    // Literal.String
    .s {
        color: var(--syntax-string)
    }

    // Name.Attribute
    .na {
        color: var(--syntax-variable)
    }

    // Name.Builtin
    .nb {
        color: var(--syntax-variable)
    }

    // Name.Class
    .nc {
        color: var(--syntax-function);
        font-weight: bold
    }

    // Name.Constant
    .no {
        color: var(--syntax-variable)
    }

    // Name.Entity
    .ni {
        color: var(--syntax-function)
    }

    // Name.Exception
    .ne {
        color: var(--syntax-keyword);
        font-weight: bold
    }

    // Name.Function
    .nf {
        color: var(--syntax-function);
        font-weight: bold
    }

    // Name.Namespace
    .nn {
        color: var(--text-main);
        opacity: 0.8;
    }

    // Name.Tag
    .nt {
        color: var(--syntax-keyword)
    }

    // Name.Variable
    .nv {
        color: var(--syntax-variable)
    }

    // Operator.Word
    .ow {
        color: var(--syntax-operator);
        font-weight: bold
    }

    // Text.Whitespace
    .w {
        color: var(--syntax-comment)
    }

    // Literal.Number.Float
    .mf {
        color: var(--syntax-number)
    }

    // Literal.Number.Hex
    .mh {
        color: var(--syntax-number)
    }

    // Literal.Number.Integer
    .mi {
        color: var(--syntax-number)
    }

    // Literal.Number.Oct
    .mo {
        color: var(--syntax-number)
    }

    // Literal.String.Backtick
    .sb {
        color: var(--syntax-string)
    }

    // Literal.String.Char
    .sc {
        color: var(--syntax-string)
    }

    // Literal.String.Doc
    .sd {
        color: var(--syntax-string)
    }

    // Literal.String.Double
    .s2 {
        color: var(--syntax-string)
    }

    // Literal.String.Escape
    .se {
        color: var(--syntax-string)
    }

    // Literal.String.Heredoc
    .sh {
        color: var(--syntax-string)
    }

    // Literal.String.Interpol
    .si {
        color: var(--syntax-string)
    }

    // Literal.String.Other
    .sx {
        color: var(--syntax-string)
    }

    // Literal.String.Regex
    .sr {
        color: var(--syntax-string)
    }

    // Literal.String.Single
    .s1 {
        color: var(--syntax-string)
    }

    // Literal.String.Symbol
    .ss {
        color: var(--syntax-string)
    }

    // Name.Builtin.Pseudo
    .bp {
        color: var(--syntax-comment)
    }

    // Name.Variable.Class
    .vc {
        color: var(--syntax-variable)
    }

    // Name.Variable.Global
    .vg {
        color: var(--syntax-variable)
    }

    // Name.Variable.Instance
    .vi {
        color: var(--syntax-variable)
    }

    // Literal.Number.Integer.Long
    .il {
        color: var(--syntax-number)
    }
}