// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

/* Figure styling */
figure.md-figure { 
  text-align: center; 
  margin: 1.25rem auto; 
}
figure.md-figure img { 
  display: inline-block; 
  max-width: 100%; 
  height: auto; 
}
figure.md-figure figcaption {
  margin-top: .5rem;
  font-size: .9rem;
  color: #6b7280;
}